@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bg{
    background-color: rgba(27, 24, 45, 1) !important;
    color:white;
    width: 25%;
    overflow-x: hidden;
}
