@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: "Inter";
    overflow-x: hidden !important;
    width: 100% !important;
    max-width: 100% !important;
}

.sidebar{
    width:25%;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.collapsed{
    width: 4.75rem;
}

.bg{
    background-color: rgba(27, 24, 45, 1) !important;
    color:white;
}

.sidebar.collapsed .sidebar-logo{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
    transition: 2s;
}
.sidebar.collapsed .sidebar-toggle{
    margin: 0 auto;
}

.sidebar-menu{
    list-style-type: none;
}
.sidebar-menu-item{
    margin-bottom: .25rem;
}

.sidebar-menu-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: .375rem .75rem;
    border-radius: .5rem;
    color: white;
    list-style-type: none;
}

.sidebar-menu-item > a {
    overflow-x: hidden;
}
.sidebar-menu-item.focused > a,
.sidebar-menu-item > a:hover{
    background-color: rgb(247, 244, 244);
    color:rgba(27, 24, 45, 1);
}

/* .sidebar-menu-item.active a{
    background-color: green;
    color:rgba(27, 24, 45, 1);
} */

.sidebar-menu-item-icon{
    margin-right: .625rem;
    font-size: 1.25rem;
    transition: transform .2s;
}

/* .sidebar-menu-item{
    list-style-type: none;
    text-decoration: none;
} */
.sidebar-dropdown-menu-item{
    /* margin-right: .625rem; */
}
.sidebar-dropdown-menu-item a{
    padding: .375rem 0;  
}

.sidebar-dropdown-menu-item.focused > a
.sidebar-dropdown-menu-item a:hover{
    background-color: green;
}
.sidebar-dropdown-menu{
    padding-left: 2rem;
    list-style: none;
    /* margin-right: .625rem; */
}
.sidebar-dropdown-menu .sidebar-dropdown-menu{
    padding-left: 1rem;
}
.sidebar-dropdown-menu-item.focused > a .sidebar-menu-item-icon-accordian,
.sidebar-menu-item.focused > a .sidebar-menu-item-icon-accordian{
    transform: rotateZ(-270deg);
}